.header-container{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background: #000;
  z-index: 10;
}
.i-hamburger-menu{
  height: 25px;
  width: 25px;
  cursor: pointer;
}
.header-container .section-1{
  flex: 3;
  padding-left: 40px;
}
.header-container .section-2{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu{
  position: fixed;
  top: 40px;
  width: 100%;
  background: black;
  height: 0;
  /* display: none; */
  overflow: hidden;
  transition: height 0.2s ease-in;
}
.menu.show{
  height: 204px;
  display: block;
}
.item{
  /* text-align: center; */
  display: flex;
  color: white;
  padding: 10px;
}
.item span{
  flex: 1;
  padding-left: 40px;
}

.item-icon{
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border-width: 3px;
  border-style: solid;
  border-color: #777;
  background: white;
  margin: 0 15px;
  vertical-align: middle;
  display: inline-block;
}